 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a full stack developer experienced in a number of both desktop and web programming languages, tools and frameworks utilized to desktop, mobile, and web applications alike.</p>
                </div>
                <div class="col-lg-4">
                    <p>Years of experience have given me the knowledge and capability to adapt to and excel at any project thrown my way. I have worked in a multitude of software development projects. Some of these projects are accessible via Github.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-github-alt"></i> My Projects </a>
                </div>
            </div>
        </div>
    </section>